@import "tailwindcss";



.nav-item {
  @apply relative text-gray-700 hover:text-red-600 transition-colors duration-300
         after:content-[''] after:absolute after:left-0 after:bottom-0 
         after:w-0 after:h-0.5 after:bg-red-600 hover:after:w-full 
         after:transition-all after:duration-300 cursor-pointer;
}
